<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <environment names="Development">
        <link rel="stylesheet" asp-href-include="~/css/vendors.css" />
        <link rel="stylesheet" asp-href-include="~/css/main.css" />
    </environment>
    <environment names="Production">
        <link rel="stylesheet" asp-href-include="~/css/vendors.min.css" />
        <link rel="stylesheet" asp-href-include="~/css/main.min.css" />
    </environment>
</head>
<body class="bg-light">
    <partial name="_Header" />

    <main class="main">
        <div class="container">
            @RenderBody()
        </div>
    </main>

    <partial name="_Footer" />

    <environment names="Development">
        <script asp-src-include="~/js/vendors.js"></script>
        <script asp-src-include="~/js/main.js"></script>
    </environment>
    <environment names="Production">
        <script asp-src-include="~/js/vendors.min.js"></script>
        <script asp-src-include="~/js/main.min.js"></script>
    </environment>
</body>
</html>
