@model LoginBindingModel
@{
    ViewData["Title"] = "Вход на сайт";
}

<div class="row">
    <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <h1>@ViewData["Title"]</h1>
        <form method="post" class="">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" asp-for="RememberMe">
                <label class="custom-control-label" asp-for="RememberMe"></label>
            </div>
            <button class="btn btn-success mr-2">Войти</button>
            <a asp-action="Register">Нет аккаунта?</a>
        </form>
    </div>
</div>
