root = true

[*]
charset = utf-8
indent_style = space
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
guidelines = 120
guidelines_style = 1px dotted white

[*.json]
indent_size = 2

[*.{cs,js,ts,jsx,tsx,vue}]
indent_size = 4
