@model PagingInfo
@{
    int pagesCount = (int)Math.Ceiling(Model.ItemsTotalCount * 1d / Model.ItemsPerPage);
}

<nav>
    <ul class="pagination">
        @for (int pageNumber = 1; pageNumber <= pagesCount; pageNumber++)
        {
            <li class="page-item @(pageNumber == Model.CurrentPage ? "active" : null)">
                <a class="page-link"
                   asp-action="Index"
                   asp-route-page="@pageNumber"
                   asp-route-pageSize="@Model.ItemsPerPage">
                    @pageNumber
                </a>
            </li>
        }
    </ul>
</nav>