@model PaginatedMoviesViewModel
@{
    ViewData["Title"] = "Каталог фильмов";
}

<h1>@ViewData["Title"]</h1>
<hr />

@if (Model.Movies.Any())
{
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        @foreach (var movie in Model.Movies)
        {
            <div class="col mb-4">
                <partial name="_MovieCard" model="movie" />
            </div>
        }
    </div>
    <partial name="_PageSizeSelector" model="Model.Pagination.ItemsPerPage" />
    <partial name="_Paginator" model="Model.Pagination" />
}
else
{
    <p class="text-center ">Пока пусто.</p>
}
