@use "../bem/custom-file/custom-file";
@use "../bem/movie-card/movie-card";

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.footer {
    height: 50px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
}
